/* .menu-trigger {
    cursor: pointer;
    position: fixed;
    padding: 1rem;
    top: 0;
    right: 0;
    z-index: 100;
    color: black;
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
  }
  
  .menu-trigger.open {
    color: white;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  
  .icon {
    display: inline-block;
    font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon.icon-menu:before {
    content: '\f136';
    font-size: 3rem;
  }
  #nav-overlay {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
  }
  
  #nav-overlay nav {
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    list-style: none;
    z-index: 90;
    -webkit-transition: top 350ms ease;
    transition: top 350ms ease;
  }
  
  #nav-overlay nav li {
    display: block;
    text-align: center;
    margin: 1rem 0;
  }
  
  #nav-overlay nav a, #nav-overlay nav a:visited {
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 15px;
    line-height: 1.25;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
  }
  
  #nav-overlay nav a:hover, #nav-overlay nav a:focus, #nav-overlay nav a:visited, #nav-overlay nav a:visited:hover, #nav-overlay nav a:visited:focus, #nav-overlay nav a:visited:visited { text-decoration: underline; }
  
  #nav-overlay.open nav { top: 0; }
  
  #nav-overlay:before, #nav-overlay:after {
    content: "";
    position: absolute;
    z-index: 50;
    top: 0;
    height: 100%;
    width: 100%;
    background: blue;
    transition: transform 350ms, -webkit-transform 350ms;
    /* background-image: url("../public/images/rainbowLines.jpg"); */
    /* background-size: cover;
    background-repeat: repeat;
    background-position: center center;
  }
  
  #nav-overlay:before {
    left: 0;
    -webkit-transform: skew(50deg) translateX(-200%);
    transform: skew(50deg) translateX(-200%);
    clip: rect(auto 50vw auto auto);
  }
  @media (min-width: 500px) {
  
  #nav-overlay:before {
    -webkit-transform: skew(50deg) translateX(-150%);
    transform: skew(50deg) translateX(-150%);
  }
  }
  
  #nav-overlay.open:before {
    -webkit-transform: skew(0) translateX(0%);
    transform: skew(0) translateX(0%);
  }
  
  #nav-overlay:after {
    right: 0;
    -webkit-transform: skew(50deg) translateX(200%);
    transform: skew(50deg) translateX(200%);
    clip: rect(auto auto auto 50vw);
  }
  @media (min-width: 500px) {
  
  #nav-overlay:after {
    -webkit-transform: skew(50deg) translateX(150%);
    transform: skew(50deg) translateX(150%);
  }
  }
  
  #nav-overlay.open:after {
    -webkit-transform: skew(0) translateX(0%);
    transform: skew(0) translateX(0%);
  } */
  html {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Miriam Libre', sans-serif;
    min-width: 300px;
  }
  
  .menu-trigger {
    cursor: pointer;
    position: fixed;
    padding: 1rem;
    top: 0;
    right: 0;
    z-index: 100;
    color: black;
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
    transition: all 350ms ease;
  }
  .menu-trigger.open {
    color: white;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  
  header {
    width: 100%;
    height: 100vh;
    float: left;
    font-size: 1rem;
    line-height: 1;
    letter-spacing: 10px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(127, 194, 215);
  }
  @media (min-width: 500px) {
    header {
      font-size: 2rem;
    }
  }
  header .display-block {
    display: block;
  }
  
  #nav-overlay {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
  }
  #nav-overlay nav {
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    z-index: 90;
    transition: top 350ms ease;
  }
  #nav-overlay nav li {
    display: block;
    text-align: center;
    margin: 1rem 0;
  }
  #nav-overlay nav a, #nav-overlay nav a:visited {
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 15px;
    line-height: 1.25;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
  }
  #nav-overlay nav a:hover, #nav-overlay nav a:focus, #nav-overlay nav a:visited, #nav-overlay nav a:visited:hover, #nav-overlay nav a:visited:focus, #nav-overlay nav a:visited:visited {
    text-decoration: underline;
  }
  #nav-overlay.open nav {
    top: 0;
  }
  #nav-overlay:before, #nav-overlay:after {
    content: "";
    position: absolute;
    z-index: 50;
    top: 0;
    height: 100%;
    width: 100%;
    background: blue;
    transition: transform 350ms, -webkit-transform 350ms;
    background-image: url("../public/images/rainbowLines.jpg");
    background-size: cover;
    background-repeat: repeat;
    background-position: center center;
  }
  #nav-overlay:before {
    left: 0;
    -webkit-transform: skew(50deg) translateX(-200%);
            transform: skew(50deg) translateX(-200%);
    clip: rect(auto 50vw auto auto);
  }
  @media (min-width: 500px) {
    #nav-overlay:before {
      -webkit-transform: skew(50deg) translateX(-150%);
              transform: skew(50deg) translateX(-150%);
    }
  }
  #nav-overlay.open:before {
    -webkit-transform: skew(0) translateX(0%);
            transform: skew(0) translateX(0%);
  }
  #nav-overlay:after {
    right: 0;
    -webkit-transform: skew(50deg) translateX(200%);
            transform: skew(50deg) translateX(200%);
    clip: rect(auto auto auto 50vw);
  }
  @media (min-width: 500px) {
    #nav-overlay:after {
      -webkit-transform: skew(50deg) translateX(150%);
              transform: skew(50deg) translateX(150%);
    }
  }
  #nav-overlay.open:after {
    -webkit-transform: skew(0) translateX(0%);
            transform: skew(0) translateX(0%);
  }
  
  .icon {
    display: inline-block;
    font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .icon.icon-menu:before {
    content: '\f136';
    font-size: 3rem;
  }
  
  .screen-reader-text {
    position: absolute;
    left: -999999em;
  }
  .display-block {
    margin: 5px;
    padding: 5px;
  }
  
  .collapsible {
    /* background-color: #777; */
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    /* text-align: left; */
    text-align: center;
    outline: none;
    font-size: 35px; 
    background: none;
    /* display: inline-block; */
    
  }
  
  .active, .collapsible:hover {
    /* background-color: #555; */
    text-decoration: underline;
  }
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    /* background-color: #f1f1f1; */

  }
  
  #special1, #special2, #special3{ 
    display: none;
    color: white;
    border: 2px white dotted;
    border-top: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom: auto; */
    width: 80%;
    
   }

   p{
     text-align: center;
   }
   /* #special2{
    display: none;
    color: white;
    border: 2px white dotted;
    border-top: none;
   } */
  #button-1 #button-2 #button-3{
    background: none;
  }
  
  #sidebar {
    width: 200px;
    background: #2c3e50;
    position: absolute;
    height: 100%;
    top: 0;
    left: -200px;
    transition: left 0.5s ease;
    font-size: 20px;
    /* padding: 23px; */
  }
  
  #sidebar.visible {
    left: 0px;
    transition: left 0.7s ease;
  }
  
  /* ul {
    margin: 0;
    padding: 0;
  }
  
  li {
    list-style: none;
    padding: 10px 0 10px 10px;
    background: #46637F;
    border-bottom: 1px solid #233140;
  }
  
  li a {
    text-decoration: none;
    color: white;
  } */
  
  #sidebar-btn {
    display: inline-block;
    vertical-align: middle;
    width: 200px;
    height: 170px;
    cursor: pointer;
    margin: 20px;
    position: absolute;
    right: -250px;
    top: 0px;
  }
  
  #sidebar-btn span {
    background-color: white;
    height: 1px;
    display: block;
    margin-bottom: 5px;
  }
  
  #sidebar-btn span:nth-child(2) {
    width: 75%;
  }

  /* sidebar links styles etc. */
  /* #face_book #linked_in #git_hub {
    font-size: 20px;
  } */
  
/* Style all font awesome icons */
.fa {
  padding: 40px;
  /* font-size: 30px; */
  width: 150px; 
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin-right: 40px;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
/* .fa-facebook {
  background: #3B5998;
  color: white;
} */
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-github{
  background: black;
  color: white;
}