
  html {
    box-sizing: border-box;
    min-height: 100%;
  }
  
  body {
    font-family: 'Miriam Libre', sans-serif;
    height: 150%;
   
}
    /* padding-bottom: 1000px; */
  
  
  .menu-trigger {
    cursor: pointer;
    position: fixed;
    padding: 1rem;
    top: 0;
    right: 0;
    z-index: 100;
    color: rgb(238, 58, 58);
    border-radius: 0px;
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
    transition: all 350ms ease;
    -webkit-transition: border .5s ease;
    transition: border .5s ease;
  }
  .menu-trigger.open {
    color: white;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  .menu-trigger:hover{
    border-radius: 30px;
  }
  
  header {
    width: 100%;
    height: 100vh;
    float: left;
    font-size: 1rem;
    line-height: 1;
    letter-spacing: 10px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(127, 194, 215);
  }
  @media (min-width: 500px) {
    header {
      font-size: 2rem;
    }
  }
  header .display-block {
    display: block;
  }
  
  #nav-overlay {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
  }
  #nav-overlay nav {
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    z-index: 90;
    transition: top 350ms ease;
  }
  #nav-overlay nav li {
    display: block;
    text-align: center;
    margin: 1rem 0;
  }
  #nav-overlay nav a, #nav-overlay nav a:visited {
    font-size: 3rem;
    font-weight: 400;
    /* letter-spacing: 15px; */
    line-height: 1.25;
    text-transform: uppercase;
    text-decoration: none;
    /* color: white; */
  }
  /* #nav-overlay nav a:hover, #nav-overlay nav a:focus, #nav-overlay nav a:visited, #nav-overlay nav a:visited:hover, #nav-overlay nav a:visited:focus, #nav-overlay nav a:visited:visited {
    text-decoration: underline;
  } */
  #nav-overlay.open nav {
    top: 0;
  }
  #nav-overlay:before, #nav-overlay:after {
    content: "";
    position: absolute;
    z-index: 50;
    top: 0;
    height: 100%;
    width: 100%;
    background: blue;
    transition: transform 350ms, -webkit-transform 350ms;
    background-image: url("/public/images/bubblieRainbow.jpg");
    background-size: cover;
    background-repeat: repeat;
    background-position: center center;
  }
  #nav-overlay:before {
    left: 0;
    -webkit-transform: skew(50deg) translateX(-200%);
            transform: skew(50deg) translateX(-200%);
    clip: rect(auto 50vw auto auto);
  }
  @media (min-width: 500px) {
    #nav-overlay:before {
      -webkit-transform: skew(50deg) translateX(-150%);
              transform: skew(50deg) translateX(-150%);
    }
  }
  #nav-overlay.open:before {
    -webkit-transform: skew(0) translateX(0%);
            transform: skew(0) translateX(0%);
  }
  #nav-overlay:after {
    right: 0;
    -webkit-transform: skew(50deg) translateX(200%);
            transform: skew(50deg) translateX(200%);
    clip: rect(auto auto auto 50vw);
  }
  @media (min-width: 500px) {
    #nav-overlay:after {
      -webkit-transform: skew(50deg) translateX(150%);
              transform: skew(50deg) translateX(150%);
    }
  }
  #nav-overlay.open:after {
    -webkit-transform: skew(0) translateX(0%);
            transform: skew(0) translateX(0%);
  }
  
  .icon {
    display: inline-block;
    font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .screen-reader-text {
    position: absolute;
    left: -999999em;
  }
  .display-block {
    margin: 5px;
    padding: 5px;
  }
  
  .collapsible {
    /* background-color: #777; */
    color: white;
    cursor: pointer;
    padding: 5px;
    width: 100%;
    border: none;
    /* text-align: left; */
    text-align: center;
    outline: none;
    font-size: 35px; 
    background: none;
    /* display: inline-block; */
    
  }

  
@media only screen and (max-width: 400px) {
  div.pushBorder {
    display: inline-block;
    text-align: center;
    letter-spacing: 0px;
    -webkit-transition: letter-spacing .5s ease;
    transition: letter-spacing .5s ease;
    text-align: center;

  }
}
@media only screen and (min-width: 400px){
  div.pushBorder{
    display: inline-flex;
    letter-spacing: 0px;
    -webkit-transition: letter-spacing .5s ease;
    transition: letter-spacing .5s ease;

  }
}

@media only screen and (max-width: 400px) {
  #mobileComingSoon{
    display: inline-block;
    color: white;
  }
}
@media only screen and (min-width: 400px){
  #mobileComingSoon{
    display: none;
    color: white
  }
}

#homeBtn{
  color: white;
  font-size: 100px;
  border-radius: 0px;
  border: 0px white solid;
  transition: all 350ms ease;
  -webkit-transition: border .5s ease;
  text-align: center;
  /* display: flex; */
}
#homeBtn:hover{
  border: 3px white solid;
  border-radius: 30px;
  border-width: 5px;
}

li.navButton:hover, div.pushBorder:hover {
letter-spacing: 10px;
}

  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    /* background-color: #f1f1f1; */
    /* color: #cfcaca; */
  }
  
   #special1, #special2, #special3{ 
    display: none;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto; 
    width: 80%;
    transition: clip-path 0.6s linear;
    background:rgba(0,0,0,0.6);
    opacity: 1;
  } 
 .navContent{
   border-radius: inherit;
   letter-spacing: 0px;
 }

  #sidebar-btn, .aboutBorder, .portfolioBorder, .contactBorder{  
    /* Full width border and a clip-path visually cutting it down to the starting size */
    /* display: none; */
    color: white;
    border: 4px white solid;
    /* border-top: none; */
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 70%; 
    clip-path: polygon( 
      calc(0% + 6px) calc(0% + 6px), /* top left */
      calc(100% - 6px) calc(0% + 6px), /* top right */
      calc(100% - 6px) calc(100% - 6px), /* bottom right */
      calc(0% + 6px) calc(100% - 6px) /* bottom left */
    );
    transition: clip-path 0.4s linear;
  }
 
 
  #sidebar-btn:hover, .aboutBorder:hover, .portfolioBorder:hover, .contactBorder:hover{
    /* Clip-path spanning the entire box so it's no longer hiding the full-width border. */
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    transition: clip-path 0.4s linear;
    background:rgba(0,0,0,0.6);
    opacity: 1;
    text-align: center;
    content: \2612; 
  }
  

  .box{
      border: 4px none solid;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      width: 70%; 
      clip-path: polygon( 
        calc(0% + 6px) calc(0% + 6px), /* top left */
        calc(100% - 6px) calc(0% + 6px), /* top right */
        calc(100% - 6px) calc(100% - 6px), /* bottom right */
        calc(0% + 6px) calc(100% - 6px) /* bottom left */
      );
      transition: clip-path 0.5s linear;
      cursor: default;
  
   } 

  .box:hover{
    /* Clip-path spanning the entire box so it's no longer hiding the full-width border. */
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    transition: clip-path 0.5s linear;
    text-align: center;
    cursor: pointer;
  }
  #myselfPic{
    background-image: url("../public/images/myselfPic.jpg");
  }

   p{
     text-align: center;
   }
  
  #button-1 #button-2 #button-3{
    background: none;
  }
  
  #sidebar{
    width: 175px;
    background-color: black;
    position: absolute;
    top: 0;
    left: -200px;
    font-size: 20px;
    z-index: 100;
    transition: ease 0.5s;
  }
  
  #sidebar.visible {
    left: 0px;
    transition: border 1s;
    border-right: 2px solid transparent;
    border-top-right-radius: 0px;
    border-top: 2px solid transparent;
    transition: ease 0.5s;
  }
  #sidebar.visible:hover {
    border-top-right-radius: 30px;
    border-right: 3px solid white;
    border-top: 3px solid white;
  }
  
  #sidebar-btn {
    display: inline-block;
    vertical-align: middle;
    /* width: 100px; */
    height: 75px;
    cursor: pointer;
    margin: 20px;
    right: -375px;
    left: 155px;
    top: 0px;
    background-color: transparent;
    z-index: 100;
    /* margin-right: 100px; */
    font-size: 70px;
    position: absolute;
    color: white;
    border-left: none;

  }
  
  #sidebar-btn span {
    /* background-color: white; */
    height: 1px;
    display: block;
    margin-bottom: 5px;
  }
  
  #sidebar-btn span:nth-child(2) {
    width: 75%;
  }

/* Style all font awesome icons */
.fa {
  padding: 40px;
  width: 100px; 
  height: 100px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin-right: 40px;
  align-content: center;
  font-size: 25px;
  z-index: 100;
}
.fa:hover{
  text-align: center;
}

/* Set a specific color for each brand */

#face_Book, #link_In, #git_Hub{
  background-color: brightness(100%)
}
#link_In:hover{
  /* background: rgb(50, 75, 140); */
  background: rgb(0, 110, 165);
}
#face_Book:hover{
  background: rgb(40, 64, 116);
}
#git_Hub:hover{
  background: rgb(26, 25, 25);
}

.fa-facebook {
  background: rgb(59, 89, 152);
  color: white;
  z-index: 80;
  text-align: center;
}

.fa-linkedin {
  background: rgb(0, 123, 181);
  color: white;
  z-index: 80;
  text-align: center;
}
.fa-github{
  background: black;
  color: white;
  z-index: 80;
  text-align: center;
}
#fa_compass{
  color: black;
  font-size: 45px;
  text-align: center;
  display:inline-block;
  font-size: 40px;
  line-height: 50px;
  /* background-color:black; */
  align-content: center;
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: bottom;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
  padding: 10%;
  margin: 0%;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.fa-home:hover, .bounce, .fa-linkedin:hover, .fa-facebook:hover, .fa-github:hover, .navButton:hover{
  -webkit-animation: color-change 1.3s infinite;
  -moz-animation: color-change 1.3s infinite;
  -o-animation: color-change 1.3s infinite;
  -ms-animation: color-change 1.3s infinite;
  animation: color-change 1.3s infinite;
  text-align: center;
  /* transition: color .5s ease; */
}

@-webkit-keyframes color-change {
  0% { color: rgb(255, 0, 157); }
  50% { color: rgb(0, 217, 255); }
  100% { color: rgb(0, 217, 255);  }
  50% { color: purple}
}
@-moz-keyframes color-change {
  0% { color: rgb(255, 0, 157); }
  50% { color: blue; }
  100% { color: rgb(0, 255, 242); }
  50% { color: purple}
}
@-ms-keyframes color-change {
  0% { color: rgb(255, 0, 157); }
  50% { color: blue; }
  100% { color: rgb(0, 255, 149); }
  50% { color: purple}
}
@-o-keyframes color-change {
  0% { color: rgb(255, 0, 157); }
  50% { color: blue; }
  100% { color: rgb(0, 217, 255); }
  50% { color: purple}
}
@keyframes color-change {
  0% { color: rgb(255, 0, 157); }
  50% { color: blue; }
  100% { color: rgb(179, 255, 0); }
  50% { color: purple}
}